:root {
    --color-background: #E9F8F9;
    --color-dark-bule: #243763;
    --color-blue: #3C79F5;
    --color-sky: #5BC0F8;
    --color-tbody-hover: #BFEAF5;
    --color-white: #fff;
    --transition: 0.3s;
    --round-50 : 50%;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}
section {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

section h1 {color: var(--color-dark-bule);}

.calender {
    width: 364px;
    height: 342px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

.monthName {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.monthName button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: transparent;
    color: var(--color-white);
    border-radius: var(--round-50);
    transition: var(--transition);
}

.monthName button:hover {
    background-color: var(--color-sky);
}

.monthName h4 {
    margin: 0;
}


.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.tableWeek {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.tableWeek p {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.75rem;
}

.tableDaysA {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 260px;
    width: 100%;
    overflow: hidden;
}
.tableDays {
    transition: 0.5s;
}

.tableDay p {
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 6px;
    color: var(--color-dark-bule);
    border-radius: var(--round-50);
    transition: var(--transition);
}

.tableDay p.prev, p.next {
    color: #ccc;
}

.tableDay p.now:hover {
    background-color: var(--color-tbody-hover);
    cursor: pointer;
}

.tableDay p.now.active {
    background-color: var(--color-sky);
}