:root {
    --color-background: #E9F8F9;
    --color-dark-bule: #243763;
    --color-blue: #3C79F5;
    --color-sky: #5BC0F8;
    --color-tbody-hover: #BFEAF5;
    --color-white: #fff;
    --transition: 0.3s;
    --round-50 : 50%;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}
section {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

section h1 {color: var(--color-dark-bule);}

.calender {
    background-color: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.monthName {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.monthName button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: transparent;
    color: var(--color-white);
    border-radius: var(--round-50);
    transition: var(--transition);
}

.monthName button:hover {
    background-color: var(--color-sky);
}

.monthName h4 {
    margin: 0;
}

table {
    width: 340px;
    border-collapse : collapse;
}

table thead {
    background-color: var(--color-blue);
    color: var(--color-white);
}

table thead tr th {
    padding: 0.5rem 0;
}


table tbody tr td {
    height: 46px;
    border-radius: var(--round-50);
    color: var(--color-dark-bule);
}

table tbody tr td:hover {
    background-color: var(--color-tbody-hover);
}