:root {
    --color-background: #E9F8F9;
    --color-blue: #3C79F5;
    --color-sky: #5BC0F8;
    --color-tbody-hover: #BFEAF5;
    --color-white: #fff;
    --transition: 0.3s;
    --round-50 : 50%;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}
section {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

section h1 {color: var(--color-blue);}

.calender {
    width: 364px;
    height: 394px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

.monthName {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.monthName button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: transparent;
    color: var(--color-white);
    border-radius: var(--round-50);
    transition: var(--transition);
}

.monthName button:hover {
    background-color: var(--color-sky);
}

.monthName h4 {
    margin: 0;
}


/* 요일표시 */

.tableWeek {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.tableWeek p {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.75rem;
}


/* 캘린더 날짜 표시 */

.tableDaysA {
    position: absolute;
    left: 0;
    top: 82px;
}
.tableDays {
    display: flex;
    width: 364px;
}

.tableDay p {
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 6px;
    color: var(--color-dark-bule);
    border-radius: var(--round-50);
    transition: var(--transition);
}

.tableDay p:nth-child(7n) {color: var(--color-blue);}
.tableDay p:nth-child(7n+1) {color: red;}
.tableDay p.prev, .tableDay p.next {color: #ccc;}

.now:hover {
    background-color: var(--color-tbody-hover);
    cursor: pointer;
}

.tableDay p.nowDay {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    flex-shrink: 0;
}

.tableDay p.from, .tableDay p.to {background-color: var(--color-sky);}

.from ~ :has(~ .to), .to ~ :has(~ .from) {background-color: var(--color-tbody-hover);}