
* {
    box-sizing: border-box;
}

body {
    background-color: #b9b9c0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
section {
    width: 355px;
    margin-top: 200px;
    padding: 50px 30px 30px 30px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0 0 0 / 0.7);
}

.result {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #333;
    border-radius: 5px;
}

.result input {
    text-align: right;
    padding: 7px 10px;
    border: none;
    background-color: transparent;
    color: #fff;
}

.result input.input-final {font-size: 2rem;}

input:focus {
    outline: none;
}

.btns {
    display: flex;
    justify-content: stretch;
    gap: 5px;
    margin: 5px 0;
}

.btns button {
    flex-basis: 75px;
    padding: 15px 0;
    border: none;
    border-radius: 40px;
    color: #fff;
    transition: 0.1s;
}

.btns button:hover {opacity: 0.7;}

.btns button:active {
    box-shadow: 3px 3px 5px rgba(0 0 0 / 0.5) inset;
}

.btns button.num, button.dot {
    background-color: #444;
}

.btns button.operator, button.equal {
    background-color: rgb(231, 150, 28);
}

.btns button.all-reset, button.reset {
    background-color: rgb(228, 28, 44);
}

.btns button.all-reset, button#zero {
    flex-basis: 145px;
    flex-shrink: 0;
}

