:root {
    --color-blue : #6D67E4;
    --color--green : #86C8BC;
    --color--red : #EB455F;
    --color-white : #fff;
    --color-back : #F1F6F5;
    --box-shadow : 3px 3px 10px rgba(0 0 0 / 0.2);
    --transition: all 0.2s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, p, ul { 
    margin: 0;
    padding: 0;
}

ul {list-style: none;}


button {cursor: pointer;}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-back);
}

.to-do-list {
    background-color: var(--color-white);
    width: 400px;
    /* height: 550px; */
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}


/* title */

.title {
    display: flex;
    align-items: flex-end;
    padding: 10px 30px 15px 30px;
    margin-bottom: 25px;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.title .day {
    font-size: 2rem;
    margin-right: 10px;
}

.title .year {
    font-weight: bold;
    font-size: 0.75rem;
    margin-bottom: 3px;
}


/* form submit */

form {
    padding: 0 30px;
    display: flex;
    height: 45px;
    margin-bottom: 5px;
}

form .form-text {
    padding: 0 1rem;
    width: 100%;
    border: 1px solid var(--color-blue);
    border-radius: 5px 0 0 5px;
}

form .form-btn {
    border: none;
    background-color: var(--color-blue);
    width: 45px;
    border-radius: 0 5px 5px 0;
    flex-shrink: 0;
    transition: var(--transition);
}

form .form-btn:hover {
    opacity: 0.7;
}

form .form-btn .form-icon {
    fill: var(--color-white);
    width: 15px;
    margin-top: 4px;
}

.warning {
    padding: 0 30px;
    margin-bottom: 15px;
    color : var(--color--red);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: var(--transition);
}

.h-0 {height: 0px;}

.h-20 {height: 20px;}

.warning .warning-icon {
    width: 15px;
    margin-right: 5px;
    fill: #EB455F;
}


/* list item */
.lists {
    border-top: 1px dashed var(--color-blue);
    padding: 15px 30px;
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}


.list .list-cont {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.list .list-cont .check-btn {
    border: 1px solid var(--color--green);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: transparent;
}

.list .list-cont .check-btn .check-icon {
    width: 15px;
    margin-top: 4px;
    fill: var(--color--green);
}

.list .list-cont .list-input {
    color: #333;
    margin-left: 10px;
    width: 100%;
    border: none;
    padding: 0.5rem 0.25rem;
    outline: none;
    flex-shrink: 0;
    cursor: pointer;
}

.list-btn .edit-icon {fill: var(--color-blue);}

.list-btn .delete-icon {fill: var(--color--red);}

.list-btn .btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.list-btn .btn:hover {
    opacity: 0.7;
    transition: var(--transition);
}


.hidden {visibility: hidden;}
.through {
    text-decoration: line-through;
    color: #888;
}