* {box-sizing: border-box;}

.title {
    text-align: center;
}
.section {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.panel {
    text-align: center;
    width: 200px;
    border: 1px dashed;
    margin-bottom: 1rem;
}

#bord {
    border: 2px solid;
}