* {box-sizing: border-box;}

.content {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.carousel {position: relative;}

.btn button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn .prev-btn {left: -2rem;}

.btn .next-btn {right: -2rem;}

.slide {
    width: initial;
    overflow: hidden;
}

.imgs {display: flex;}

.imgs .img {position: relative;}

.imgs .img .img-content {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0 0 0 / 0.5);
    transform: translateY(100%);
    transition: 0.4s;
}

.imgs .img:hover .img-content {
    transform: translateY(0);
}

.imgs .img img {
    display: block;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.slide-btn {
    padding: 0.3rem;
    margin: 0 0.25rem;
    border: none;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: dodgerblue;
}