
* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.main {
    width: 1020px;
    margin: 0px auto;
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;
    background-color: transparent;
}

/* 타이틀 */

.title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title h1.title-name {
    text-align: center;
    margin-bottom: 30px;
}

.title p {margin: 7px;}


/* 연주버튼 */

.sheet {
    margin-bottom: 30px;
}

.sheet .tap button.btn {
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #20262E;
}

.sheet .tap {text-align: right;}

.sheet .tap button.btn:hover, .sheet .tap button.btn-active {
    background-color: #20262E;
    color: #fff;
} 


/* 악보연주 */

.select {
    width: 768px;
    margin: 0px auto 20px auto;
}

.select button.select-btn {
    border: none;
    color: #FFB84C;
    font-weight: bold;
    margin-left: 10px;
}

.select button.select-btn:hover, .select button.select-active {
    color: #fff;
    background-color: #FFB84C;
}

.sheet-music {
    width: 768px;
    margin: 0px auto 30px auto;
}

.score span.score-title {margin-left: 10px;}

.score button.reset {
    border: 2px solid #EB455F;
    color: #EB455F;
}

.score button.reset:hover {
    color: #fff;
    background-color: #EB455F;
}

.music .music-title {text-align: center;}

.music img {width: 768px;}


.music .syllableNames {
    text-align: center;
}
.music .syllableNames span {
    padding: 0px 10px;
    font-weight: bold;
}

.music .syllableNames span.span-active {
    color: red;
}


/* 피아노 */

.piano {
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}


/* 흰 건반 */

.keys {
    display: flex;
}

.keys .key {
    border: none;
    border-left: 2px solid #2b2b2b;
    width: 68px;
    height: 300px;
    background-color: #474747;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.keys .key:last-child {
    border-right: 2px solid;
}

.keys .key .key-top {
    z-index: 1;
    height: 90%;
    flex-shrink: 0;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(to bottom , #eee, #fff);
    transition: 0.05s;
}

.keys .key .key-top span.key-vaule {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.keys .key .key-top span.key-name {
    padding-bottom: 10px;
}

.keys .key .key-bottom {
    height: 10%;
    background: linear-gradient(to bottom , #535353 20%, #858585, #c9c9c9);
}

/* 건반을 눌렀을 시 */
.keys .key .key-active {
    position: relative;
    background: linear-gradient(to right , #a5a5a5, #ddd 15%, #ddd 85%, #a5a5a5);
    height: 95%;
    box-shadow: 0px 3px 3px #dfdfdf;
}

.keys .key .key-active::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    display: block;
    background: linear-gradient(to bottom , rgb(130, 130, 130, 50), transparent);
}


/* 검은 건반 */

.sharp {
    z-index: 10;
    position: absolute;
    top: 0;
    left: -24px;
    right: 0;
    width: 100%;
    display: flex;
}

.sharp .sharp-key {
    flex-shrink: 0;
    padding: 0;
    border: none;
    margin-right: 20px;
    width: 48px;
    height: 150px;
    background-color: #181818;
    border-radius: 0 0 10px 10px;
    transition: 0.05s;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.sharp .sharp-key .sharp-inner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85%;
    margin: 10px;
    border-radius: 5px;
    background: linear-gradient(to bottom , #313131, #444444);
}

.sharp .sharp-key span.sharp-vaule {
    width: 100%;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}


/* 건반을 눌렀을 시 */
.sharp .sharp-active {
    height: 170px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
}

.empty {
    flex-shrink: 0;
    margin-right: 20px;
    width: 48px;
}


.hidden {display: none;}