
.container {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.content {
    flex-basis: 30%;
    padding: 0.4rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.btns {float: right;}

.btns .article-btn {
    background-color: transparent;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 0.7rem;
}

.article-content {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    display: block;
}

.add {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}